<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="kr.easw.estrader.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <!-- 다른 앱과 상호 작용 시 앱의 manifest 파일에 요소 추가 필요 -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/*" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:noHistory="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Estrader"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- file 에 대해 content URI 생성 -->
        <!-- android:grantUriPermissions 가 true 일 때, read, write 임시 권한 획득 가능 -->
        <!-- FileProvider 는 미리 설정한 폴더에 있는 file 들에 대해서 URI 생성 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="kr.easw.estrader.android.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- 기본 알림 아이콘 및 색상 설정 -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher_foreground" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/black" />

        <activity
            android:name=".activity.realtor.RealtorMainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ErrorActivity"
            android:exported="false" />
        <activity
            android:name=".activity.user.MainActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".activity.realtor.RealtorAwaitingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.user.AwaitingActivity"
            android:exported="false" />
        <activity
            android:name=".activity.user.MainListActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.realtor.RealtorMainListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.realtor.PDFActivity"
            android:exported="false" />
        <activity
            android:name=".activity.realtor.RealtorIntroActivity"
            android:exported="false" />
        <activity
            android:name=".activity.user.IntroActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Estrader.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--
            android:name=".activity.user.IntroActivity"
            android:name=".activity.realtor.RealtorIntroActivity"

-->
        <receiver
            android:name=".broadcast.FragmentChangeReceiver"
            android:exported="false" />

        <service
            android:name=".service.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>